@model CarDealership.UI.Models.VehicleVM
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
@using (Html.BeginForm())
{
	<div class="form-group">
		<div class="row">
			<div class="col-md-4">
				<label>Make</label>
				<br />
				@Html.DropDownListFor(m => m.VehicleMakeId, Model.Makes, "-Choose Make-", new { @class = "form-control" })
				<label>Type</label>
				<br />
				@Html.DropDownListFor(m => m.PurchaseTypeId, Model.PurchaseTypes, "-Choose Purchase Type-", new { @class = "form-control" })
				<label>Year</label>
				<br />
				@Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
				<label>Exterior Color</label>
				<br />
				@Html.DropDownListFor(m => m.ExteriorColorId, Model.ExteriorColors, "-Exterior Color-", new { @class = "form-control" })
				<label>Mileage</label>
				<br />
				@Html.TextBoxFor(m => m.Mileage, new { @class = "form-control", @placeholder = "Mileage" })
				<label>MSRP</label>
				<br />
				@Html.TextBoxFor(m => m.MSRP, new { @class = "form-control" })
			</div>
			<div class="col-md-4">
				<label>Model</label>
				<br />
				@Html.DropDownListFor(m => m.VehicleModelId, Model.Models, "-Choose Model-", new { @class = "form-control" })
				<label>Body Style</label>
				<br />
				@Html.DropDownListFor(m => m.BodyStyleId, Model.BodyStyles, "-Choose Style-", new { @class = "form-control" })
				<label>Transmission</label>
				<br />
				@Html.DropDownListFor(m => m.Transmission,
				new List<SelectListItem>
					{
						new SelectListItem {Text = "Automatic", Value = "Automatic" },
						new SelectListItem {Text = "Manual", Value = "Manual" }
					},
			    "-Choose Transmission-", new { @class = "form-control" })
				<label>Interior Color</label>
				<br />
				@Html.DropDownListFor(m => m.InteriorColorId, Model.InteriorColors, "-Choose Interior Color-", new { @class = "form-control" })
				<label>VIN #</label>
				<br />
				@Html.TextBoxFor(m => m.VIN, new { @class = "form-control" })
				<label>Sale Price</label>
				<br />
				@Html.TextBoxFor(m => m.SalePrice, new { @class = "form-control" })
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label>Description</label>
				@Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label>Add Image</label>
				@Html.TextBoxFor(m => m.ImageUpload, new { type = "file", @class = "form-control" })
			</div>
		</div>
		<br />
		<button type="submit" class="btn btn-primary">Save</button>
		
	</div>
}
