@model IEnumerable<Exercises.Models.Data.Course>

@{
    ViewBag.Title = "Courses";
}

<div class="row">
	<div class="col-xs-12">
		<h3>Course</h3>
		@Html.ActionLink("Add", "AddCourse", "Admin", null, new { @class = "btn btn-primary" })
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped" style="width: auto;">
			<thead>
				<tr>
					<th>Course ID</th>
					<th>Course Name</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var course in Model)
				{
					<tr>
						<td>@course.CourseId</td>
						<td>@course.CourseName</td>
						<td>
							@Html.ActionLink("Edit", "EditCourse", "Admin", new { id = course.CourseId }, new { @class = "btn btn-primary" })
							@Html.ActionLink("Delete", "DeleteCourse", "Admin", new { id = course.CourseId }, new { @class = "btn btn-primary" })
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
